p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: Roboto, Arial;

    margin: 0;

    /* tại sao dùng padding vì body nó đâu có margin từ body này body khác */
    /* cách ra khoảng ít nhất là 60px để phục vụ cho navabar */
    /* ở đây dùng 80px nhìn đẹp hơn trong trường hợp này */
    padding-top: 80px;
    /* dùng padding-left phục vụ cho sidebar */
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(249, 249, 249);
}
